@using Microsoft.AspNetCore.Components.Web
@using Data
@using static CarRental.Components.Pages.index.Confirm
@code {
    [Parameter] public PageData ItemData { get; set; } = default!;
    [Parameter] public EventCallback<int> OnCountChanged { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int count))
        {
            await OnCountChanged.InvokeAsync(count);
        }
    }
}

<div class="items">
    <div class="book">
        <img src="@ItemData.Cover" alt="@ItemData.Title" />
        <h2>@ItemData.Title</h2>
    </div>
    <div class="pay">&yen;@ItemData.Price</div>
    <div>
        <input type="number" min="1" max="10" value="@ItemData.Count" @oninput="OnChange" />
    </div>
    <div>
        <img src="images/delete-icon.svg" class="delete" alt="删除商品" />
    </div>
</div>
