@namespace CarRental.Components.Layout
@inherits LayoutComponentBase


<div class="minimal-container">
    @Body
</div>

<style>
    .minimal-container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    min-height: 92vh; /* 占据整个视口高度 */
    @* box-sizing: border-box; /* 确保 padding 和 margin 不会影响总高度 */ *@
    background-image: url('images/admin-login-bg.jpg'); /* 设置背景图片的路径 */
    background-size: cover; /* 确保图片覆盖整个容器 */
    background-position: center; /* 图片居中对齐 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    box-sizing: border-box; /* 确保 padding 和 margin 不会影响总高度 */
}

</style>
