<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarRental</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/user" Match="NavLinkMatch.All">
                <TabBlazor.Icon class="icon" IconType="@Icons.Account" Size="20" /> <span style="padding-left: 12px;">用户</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/thing" Match="NavLinkMatch.All">
                <TabBlazor.Icon class="icon" IconType="@Icons.Shopping_bag" Size="20" /> <span style="padding-left: 12px;">车辆</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/order" Match="NavLinkMatch.All">
                <TabBlazor.Icon class="icon" IconType="@Icons.Filled_zoom_money" Size="20" /> <span style="padding-left: 12px;">订单</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="/admin/address" Match="NavLinkMatch.All">
                <TabBlazor.Icon class="icon" IconType="@Icons.Filled_location" Size="20" /> <span style="padding-left: 12px;">地址</span>
            </NavLink>
        </div>
    </nav>
</div>

