div[b-ac60ju7ahk] {
    display: block;
}

.container[b-ac60ju7ahk] {
    background-size: cover;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-content[b-ac60ju7ahk] {
    position: absolute;
    left: 0;
    right: 0;
    margin: 80px auto 0;
    width: 980px;
}

.logo-img[b-ac60ju7ahk] {
    width: 125px;
    display: block;
    margin-left: 137.5px;
}

.login-page[b-ac60ju7ahk] {
    overflow: hidden;
    background: #fff;

    .logo-icon {
        margin-top: 20px;
        margin-left: 175px;
        width: 48px;
        height: 48px;
    }
}

.pc-style[b-ac60ju7ahk] {
    position: relative;
    width: 400px;
    height: 464px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 6px #aaa;
    box-shadow: 2px 2px 6px #aaa;
}

.login-tab[b-ac60ju7ahk] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #1e1e1e;
    font-size: 14px;
    color: #1e1e1e;
    font-weight: 500;
    height: 46px;
    line-height: 44px;
    margin-bottom: 40px;
    border-bottom: 1px solid #c3c9d5;

    div {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        cursor: pointer;
    }

    .tabline[b-ac60ju7ahk] {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        width: 0;
        height: 2px;
        background: #3d5b96;
        -webkit-transition: width .5s cubic-bezier(.46, 1, .23, 1.52);
        transition: width .5s cubic-bezier(.46, 1, .23, 1.52);
    }

    tab-selected[b-ac60ju7ahk] {
        color: #1e1e1e;
        font-weight: 500;
    }

    .mail-login[b-ac60ju7ahk],
    .tel-login[b-ac60ju7ahk] {
        padding: 0 28px;
    }

}

.mail-login[b-ac60ju7ahk] {
    margin: 0px 24px;
}

.common-input[b-ac60ju7ahk] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .left-icon {
        margin-right: 12px;
        width: 24px;
    }

    .input-view[b-ac60ju7ahk] {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        .input {
            font-weight: 500;
            font-size: 14px;
            color: #1e1e1e;
            height: 26px;
            line-height: 26px;
            border: none;
            padding: 0;
            display: block;
            width: 100%;
            letter-spacing: 1.5px;
        }

        err-view[b-ac60ju7ahk] {
            margin-top: 4px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            color: #f62a2a;
        }
    }
}

.next-btn[b-ac60ju7ahk] {
    background: #3d5b96;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    outline: none;
    cursor: pointer;
}

button[b-ac60ju7ahk] {
    background: transparent;
    padding: 0;
    border-width: 0px;
}

button[b-ac60ju7ahk],
input[b-ac60ju7ahk],
select[b-ac60ju7ahk],
textarea[b-ac60ju7ahk] {
    margin: 0;
    padding: 0;
    outline: none;
}

.operation[b-ac60ju7ahk] {
    display: flex;
    flex-direction: row;
    margin: 0 24px;
}

.forget-pwd[b-ac60ju7ahk] {
    display: block;
    overflow: hidden;
    flex: 1;
    margin: 0 auto;
    color: #3d5b96;
    font-size: 14px;
    cursor: pointer;
}