@page "/admin/"
@using TabBlazor.Components.Modals

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TabBlazor.Alert BackgroundColor="TablerColor.Danger" Title="Danger">
    <div class="text-secondary">Danger Alert</div>
</TabBlazor.Alert>
<div style="height: 100px;width:100px">
    <TabBlazor.Avatar Data="images/avatar.jpg" />
</div>
<TabBlazor.Progress Color="TablerColor.Blue" Percentage="34" Size="ProgressSize.Default" />
<br />
<TabBlazor.Progress Color="TablerColor.Red" Percentage="21" Size="ProgressSize.Small" />
<br />
<TabBlazor.Progress Color="TablerColor.Green" Percentage="76" Size="ProgressSize.Large" Text="76% Complete" />

<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke="black" fill="none">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <polyline points="5 12 3 12 12 3 21 12 19 12" />
    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
</svg>

<TabBlazor.Icon class="icon" IconType="@Icons.Account"  Color="black" />

<style>
    .avatar {
    background-size: cover;
    background-position: center;
    width: 100px; /* 自定义宽度 */
    height: 100px; /* 自定义高度 */
}

</style>