
.hide[b-c4umwzs5wk] {
    display: none;
  }
  
  .detail-content[b-c4umwzs5wk] {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 4px auto;
  }
  
  .flex-view[b-c4umwzs5wk] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .hidden-lg[b-c4umwzs5wk] {
    display: none !important;
  }
  
  .thing-infos-view[b-c4umwzs5wk] {
    display: flex;
    margin: 0 0 40px;

    overflow: hidden;
  
    .thing-infos {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: flex;
    }
  
    .mobile-share-box[b-c4umwzs5wk] {
      height: 38px;
      background: transparent;
      padding: 0 16px;
      margin: 12px 0;
      font-size: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  
      .state {
        width: 64px;
        height: 24px;
        line-height: 24px;
        background: rgba(70, 132, 226, .1);
        border-radius: 2px;
        font-weight: 500;
        font-size: 12px;
        color: #4684e2;
        text-align: center;
      }
  
      .share-img[b-c4umwzs5wk] {
        background: #fff;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
  
        img {
          position: relative;
          top: 4px;
          width: 24px;
        }
      }
    }
  
    .thing-img-box[b-c4umwzs5wk] {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 235px;
      flex: 0 0 235px;
      margin: 0 40px 0 0;
  
      img {
        width: 220px;
        height: 200px;
        display: block;
        background-size: cover;
        object-fit: cover;
      }
    }
  
    .thing-info-box[b-c4umwzs5wk] {
      text-align: left;
      padding: 0;
      margin: 0;
    }
  
    .thing-state[b-c4umwzs5wk] {
      height: 26px;
      line-height: 26px;
  
      .state {
        font-weight: 500;
        color: #4684e2;
        background: rgba(70, 132, 226, .1);
        border-radius: 2px;
        padding: 5px 8px;
        margin-right: 16px;
      }
  
      span[b-c4umwzs5wk] {
        font-size: 14px;
        color: #152844;
      }
    }
  
    .thing-name[b-c4umwzs5wk] {
      line-height: 32px;
      margin: 16px 0;
      color: #0F1111!important;
      font-size: 15px!important;
      font-weight: 400!important;
      font-style: normal!important;
      text-transform: none!important;
      text-decoration: none!important;
    }
  
    .translators[b-c4umwzs5wk], .authors[b-c4umwzs5wk] {
      line-height: 18px;
      font-size: 14px;
      margin: 8px 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  
      .name {
        color: #315c9e;
        white-space: normal;
      }
    }
  
    .tags[b-c4umwzs5wk] {
      position: absolute;
      bottom: 20px;
      margin-top: 16px;
  
      .category-box {
        color: #152844;
        font-size: 14px;
  
        .title {
          color: #787878;
        }
      }
    }
  
    .thing-counts[b-c4umwzs5wk] {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 235px;
      flex: 0 0 235px;
      margin-left: 20px;
    }
  
    .pointer[b-c4umwzs5wk] {
      cursor: pointer;
    }
  
    .count-item[b-c4umwzs5wk] {
      height: 64px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
    }
  
    .count-img[b-c4umwzs5wk] {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px;
      margin-right: 24px;
      font-size: 0;
  
      img {
        width: 100%;
        display: block;
      }
    }
  
    .count-box[b-c4umwzs5wk] {
      position: relative;
      border-bottom: 1px solid #cedce4;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 100%;
    }
  
    .count-text-box[b-c4umwzs5wk] {
      font-size: 0;
  
      .count-title {
        color: #152844;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        display: block;
        height: 18px;
      }
    }
  
    .count-num-box[b-c4umwzs5wk] {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #152844;
    }
  }
  
  .buy-btn[b-c4umwzs5wk] {
    cursor: pointer;
    display: block;
    background: #4684e2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    width: 110px;
    outline: none;
    border: none;
    margin-top: 18px;
  }
  
  .buy-btn img[b-c4umwzs5wk] {
    width: 12px;
    margin-right: 2px;
    vertical-align: middle;
  }
  
  .buy-btn span[b-c4umwzs5wk] {
    vertical-align: middle;
  }
  
  .buy-way[b-c4umwzs5wk] {
    overflow: hidden;
  
    .title {
      font-weight: 600;
      font-size: 18px;
      height: 26px;
      line-height: 26px;
      color: #152844;
      margin-bottom: 12px;
    }
  }
  
  .thing-content-view[b-c4umwzs5wk] {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  
  .main-content[b-c4umwzs5wk] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  
    .text {
      color: #484848;
      font-size: 16px;
      line-height: 26px;
      padding-left: 12px;
      margin: 11px 0;
      white-space: pre-wrap;
    }
  }
  
  .main-tab[b-c4umwzs5wk] {
    border-bottom: 1px solid #cedce4;
  }
  
  .order-view[b-c4umwzs5wk] {
    position: relative;
    color: #6c6c6c;
    font-size: 14px;
    line-height: 40px;
  
    .title {
      margin-right: 8px;
    }
  
    .tab[b-c4umwzs5wk] {
      margin-right: 20px;
      cursor: pointer;
      color: #5f77a6;
      font-size: 16px;
      cursor: pointer;
    }
  
    .tab-select[b-c4umwzs5wk] {
      color: #152844;
      font-weight: 600;
    }
  
    .tab-underline[b-c4umwzs5wk] {
      position: absolute;
      bottom: 0;
      left: 84px;
      width: 16px;
      height: 4px;
      background: #4684e2;
      -webkit-transition: left .3s;
      transition: left .3s;
    }
  }
  
  .recommend[b-c4umwzs5wk] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 235px;
    flex: 0 0 235px;
    margin-left: 20px;
  
    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #152844;
      margin-bottom: 12px;
    }
  
    .things[b-c4umwzs5wk] {
      border-top: 1px solid #cedce4;
  
      .thing-item {
        min-width: 255px;
        max-width: 255px;
        position: relative;
        flex: 1;
        margin-right: 20px;
        height: fit-content;
        overflow: hidden;
        margin-top: 26px;
        margin-bottom: 36px;
        padding-bottom: 24px;
        border-bottom: 1px #e1e1e1 solid;
        cursor: pointer;
  
        .img-view {
          height: 200px;
          width: 255px;  
          img {
            height: 200px;
            width: 255px;
            overflow: hidden;
            margin: 0 auto;
            background-size: contain;
            object-fit: contain;
          }
        }
  
        .info-view[b-c4umwzs5wk] {
          overflow: hidden;
          padding: 0 16px;
          .thing-name {
            line-height: 32px;
            margin-top: 12px;
            color: #0F1111!important;
            font-size: 15px!important;
            font-weight: 400!important;
            font-style: normal!important;
            text-transform: none!important;
            text-decoration: none!important;
          }
  
          .price[b-c4umwzs5wk] {
            color: #ff7b31;
            font-size: 20px;
            line-height: 20px;
            margin-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
  
          .translators[b-c4umwzs5wk] {
            color: #6f6f6f;
            font-size: 12px;
            line-height: 14px;
            margin-top: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
  
    }
  }
  
  .flex-view[b-c4umwzs5wk] {
    display: flex;
  }
  
  .thing-comment[b-c4umwzs5wk] {
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      height: 22px;
      color: #152844;
      margin: 24px 0 12px;
    }
  
    .publish[b-c4umwzs5wk] {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  
      .mine-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        margin-right: 12px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
  
      .content-input[b-c4umwzs5wk] {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: #f6f9fb;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        color: #484848;
        padding: 5px 12px;
        white-space: nowrap;
        outline: none;
        border: 0px;
      }
  
      .send-btn[b-c4umwzs5wk] {
        margin-left: 10px;
        background: #4684e2;
        border-radius: 4px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        height: 32px;
        line-height: 32px;
        outline: none;
        border: 0px;
        cursor: pointer;
      }
    }
  
    .tab-view[b-c4umwzs5wk] {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 14px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 24px 0;
  
      .count-text {
        color: #484848;
        float: left;
      }
  
      .tab-box[b-c4umwzs5wk] {
        color: #5f77a6;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
  
        .tab-select {
          color: #152844;
        }
  
        span[b-c4umwzs5wk] {
          cursor: pointer;
        }
      }
  
      .line[b-c4umwzs5wk] {
        width: 1px;
        height: 12px;
        margin: 0 12px;
        background: #cedce4;
      }
    }
  }
  
  
  .comments-list[b-c4umwzs5wk] {
    .comment-item {
      .flex-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 16px;
  
        .avator {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
          flex: 0 0 40px;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          border-radius: 50%;
          cursor: pointer;
        }
  
        .person[b-c4umwzs5wk] {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
        }
  
        .name[b-c4umwzs5wk] {
          color: #152844;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          height: 22px;
          cursor: pointer;
        }
  
        .time[b-c4umwzs5wk] {
          color: #5f77a6;
          font-size: 12px;
          line-height: 16px;
          height: 16px;
          margin-top: 2px;
        }
  
        .float-right[b-c4umwzs5wk] {
          color: #4684e2;
          font-size: 14px;
          float: right;
  
          span {
            margin-left: 19px;
            cursor: pointer;
          }
  
          .num[b-c4umwzs5wk] {
            color: #152844;
            margin-left: 6px;
            cursor: auto;
          }
        }
      }
    }
  }
  
  .comment-content[b-c4umwzs5wk] {
    margin-top: 8px;
    color: #484848;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #cedce4;
    margin-left: 52px;
    overflow: hidden;
    word-break: break-word;
  }
  
  .infinite-loading-container[b-c4umwzs5wk] {
    clear: both;
    text-align: center;
  }
  
  .a-price-symbol[b-c4umwzs5wk] {
    top: -0.5em;
    font-size: 12px;
  }
  .a-price[b-c4umwzs5wk] {
    color: #0F1111;
    font-size:14px;
  }