.flex-view[b-azim4cdjqa] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .pay-content[b-azim4cdjqa] {
    position: relative;
    margin: 120px auto 0;
    width: 500px;
    background: #fff;
    overflow: hidden;
  
    .title {
      color: #152844;
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      height: 22px;
      text-align: center;
      margin-bottom: 11px;
    }
  
    .time-margin[b-azim4cdjqa] {
      margin: 11px 0 24px;
    }
  
    .text[b-azim4cdjqa] {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      text-align: center;
      color: #152844;
    }
  
    .time[b-azim4cdjqa] {
      color: #f62a2a;
    }
  
    .text[b-azim4cdjqa] {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      text-align: center;
      color: #152844;
    }
  
    .price[b-azim4cdjqa] {
      color: #ff8a00;
      font-weight: 500;
      font-size: 16px;
      height: 36px;
      line-height: 36px;
      text-align: center;
  
      .num {
        font-size: 28px;
      }
    }
  
    .pay-choose-view[b-azim4cdjqa] {
      margin-top: 24px;
  
      .choose-box {
        width: 140px;
        height: 126px;
        border: 1px solid #cedce4;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
      }
  
      .pay-choose-box[b-azim4cdjqa] {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 300px;
        margin: 0 auto;
  
        img {
          height: 40px;
          margin: 24px auto 16px;
          display: block;
        }
      }
  
      .tips[b-azim4cdjqa] {
        color: #6f6f6f;
        font-size: 14px;
        line-height: 22px;
        height: 22px;
        text-align: center;
        margin: 16px 0 24px;
      }
  
      .choose-box-active[b-azim4cdjqa] {
        border: 1px solid #4684e2;
      }
  
      .tips[b-azim4cdjqa] {
        color: #6f6f6f;
        font-size: 14px;
        line-height: 22px;
        height: 22px;
        text-align: center;
        margin: 16px 0 24px;
      }
  
      .pay-btn[b-azim4cdjqa] {
        cursor: pointer;
        background: #c3c9d5;
        border-radius: 32px;
        width: 104px;
        height: 32px;
        line-height: 32px;
        border: none;
        outline: none;
        font-size: 14px;
        color: #fff;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
  
      .pay-btn-active[b-azim4cdjqa] {
        background: #4684e2;
      }
    }
  }
  